@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-normal;
	}

	h1 {
		@apply text-3xl lg:text-5xl;
	}

	h2 {
		@apply text-2xl lg:text-4xl;
	}

	h3 {
		@apply text-2xl lg:text-3xl;
	}

	h4 {
		@apply text-xl lg:text-2xl;
	}

	h5 {
		@apply text-xl lg:text-xl;
	}

	h6 {
		@apply text-lg;
	}

	p {
		@apply text-base;
	}

	small {
		@apply text-xs;
	}

	::selection {
		background: #b3d4fc;
		text-shadow: none;
	}

	small,
	kbd,
	abbr,
	code {
		@apply inline-block align-top;
	}

	pre {
		@apply my-6;
	}

	blockquote {
		@apply border-0 border-l-4 border-tertiary rounded-none py-3;

		p {
			@apply inline;
		}

		cite {
			@apply mt-4 block text-xs;
		}
	}

	cite {
		@apply italic;

		&:before {
			content: "\2014 \00A0";
		}
	}
}
