@layer components {
	.woocommerce-cart-form {
		@apply relative;

		&.processing {
			.blockOverlay {
				&:after {
					content: "";
					top: 50%;
					left: 50%;
					margin-left: -20px;
					margin-top: -20px;
					border: 3px solid #d3d3d3;
					border-top: 3px solid theme("colors.primary");
					width: 40px;
					height: 40px;
					@apply absolute rounded-full animate-spin;
				}
			}
		}
		thead {
			@apply hidden;
		}
	}

	.woocommerce-cart-form__contents {
		@apply relative border-t border-septenary;

		td {
			@apply align-top;
		}

		.product-price {
			@apply hidden;
		}

		.actions {
			@apply relative py-9 lg:py-12;

			.button[name="update_cart"] {
				@apply relative p-0 text-tertiary underline bg-transparent border-0 md:absolute md:right-0;
			}

			.coupon {
				@apply relative block lg:inline-block mt-4 lg:mt-0;

				.coupon__link {
					@apply cursor-pointer underline;
				}

				.coupon__content {
					@apply items-center py-6 max-w-3xl hidden;

					&.is-coupon-open {
						@apply block md:flex;
					}

					label {
						@apply hidden !important;
					}

					.button {
						@apply mb-0 py-2 mt-2 w-full md:ml-3 md:mt-0 md:w-auto;
					}
				}
			}
		}
	}

	.woocommerce-cart-form__cart-item {
		@apply relative;

		&:hover {
			.product-remove {
				.remove {
					@apply visible opacity-100 transform-none;
				}
			}
		}

		/* REMOVE */
		.product-remove {
			position: absolute;
			border: 0;

			.remove {
				@apply absolute h-5 w-5 leading-5 top-2 -left-5 lg:-left-2 text-white text-center rounded-full no-underline bg-red-500 p-0 z-10 opacity-0 invisible transform transition-all -translate-x-3 ease-default duration-500;
			}
		}

		/* THUMBNAIL */
		.product-thumbnail {
			@apply w-44;

			.attachment-woocommerce_thumbnail,
			.woocommerce-placeholder {
				@apply rounded-media w-full h-36 object-cover;
			}
		}

		/* NAME */
		.product-name {
			@apply md:pl-6;

			a {
				@apply text-tertiary font-normal text-base;
			}
		}

		.product-price {
			@apply hidden;
			del {
				@apply order-2 pl-2;
			}
		}

		/* QUANTITY */
		.product-quantity {
		}

		.product-subtotal {
			@apply text-right text-2xl md:text-4xl font-bold;
		}

		td {
			&:before {
				@apply hidden;
			}
		}
	}

	.cart-empty {
		@apply mb-6;
	}
}
