@layer components {
	.header {
		@apply sticky top-0 z-40 border-b border-septenary duration-500;

		@screen lg {
			.scroll-direction-down & {
				@apply -top-16;
			}
		}

		.is-navigation-open & {
			@apply fixed top-0 left-0 w-screen;
			.scroll-direction-down & {
				@apply top-0;
			}
		}

		.is-search-open & {
			@apply z-1;
		}
	}

	.header__body {
		@apply top-16 translate-x-full transition-transform ease-default lg:transform-none;

		.is-navigation-open & {
			@apply translate-x-0;
		}

		.scroll-direction-down & {
			@apply top-16;
		}

		@screen lg {
			.scroll-direction-down & {
				@apply top-0;
			}
		}
	}

	.header__container {
		@apply container;

		/* il movimento laterale è in menu.js */
		@apply transition-all ease-default;

		/* 
		.is-container-full & {
			@apply px-6;
		} */

		&.is-active {
			@apply lg:transform-none;
		}
	}

	.header__advice {
		.is-container-full & {
			@apply fullscreen;
			@apply px-6;
		}
	}

	.header__back {
		transform: translateX(-300%);
		@apply transition-all ease-default;

		.is-sub-navigation-open & {
			transform: translateX(0%);
		}

		@apply lg:-translate-x-[200%] lg:transform lg:duration-75 lg:ease-default;

		.is-overlay-panel-open.is-sub-navigation-open & {
			@apply lg:transform-none;
		}
	}

	.header__cart,
	.header__logo {
		@apply visible opacity-100;
		transition: opacity 0.15s ease-in-out;

		.is-navigation-open & {
			@apply invisible opacity-0;
		}
	}

	.header__bar-mobile {
		transform: translateX(0%);
		/* transition-timing-function: ease-in-out;
	transition: 0.75s; */
		animation-duration: 0.75s;

		.is-navigation-open & {
			transform: translateX(calc(100vw - 72px));
			animation-name: slideInPosticipate;
			@keyframes slideInPosticipate {
				0% {
					opacity: 0;
				}

				25% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}
	}
}
