.woocommerce-cart-form {
	@apply relative col-span-full xl:col-span-8;

	&.processing {
		.blockOverlay {
			&:after {
				content: "";
				top: 50%;
				left: 50%;
				margin-left: -20px;
				margin-top: -20px;
				border: 3px solid #d3d3d3;
				border-top: 3px solid theme("colors.primary");
				width: 40px;
				height: 40px;
				@apply absolute animate-spin rounded-full;
			}
		}
	}
	thead {
		@apply hidden;
	}
}

.woocommerce-cart-form__contents {
	@apply relative border-t border-septenary;

	td {
		@apply align-top;
	}

	.product-price {
		@apply hidden;
	}

	.actions {
		@apply relative border-0 pt-6 pb-3 md:pt-12 md:pb-6;

		.button[name="update_cart"] {
			@apply relative hidden border-0 bg-transparent p-0 text-tertiary underline md:absolute md:right-0;
		}

		.coupon {
			@apply relative mt-4 max-w-2xl items-center sm:flex lg:mt-0;

			input {
				@apply mr-3;
			}

			label {
				@apply hidden !important;
			}

			button.button {
				@apply mt-2 w-full bg-transparent text-primary hover:bg-primary hover:text-white sm:mt-0 sm:w-auto;
			}
		}
	}
}

.woocommerce-cart-form__cart-item {
	@apply relative grid grid-cols-2 gap-6 border-b border-septenary pb-3 md:table-row md:pb-0 !important;
	@apply mb-0 !important;

	&:hover {
		.product-remove {
			.remove {
				@apply visible transform-none opacity-100;
			}
		}
	}

	/* REMOVE */
	.product-remove {
		position: absolute;
		border: 0;

		.remove {
			@apply invisible absolute top-2 -left-2 z-10 h-5 w-5 -translate-x-3 transform rounded-full bg-red-500 p-0 text-center leading-5 text-white no-underline opacity-0 transition-all duration-500 ease-default;
		}
	}

	/* THUMBNAIL */
	.product-thumbnail {
		@apply border-b-0 md:w-28;
		.attachment-woocommerce_thumbnail,
		.woocommerce-placeholder {
			@apply rounded-media h-auto w-full object-cover md:h-28 md:w-28;
		}
	}

	/* NAME */
	.product-name {
		@apply border-0 pt-6 pb-3 md:!whitespace-normal md:py-6 md:pl-6 md:pr-20;

		a {
			@apply text-base font-normal text-tertiary;
		}
	}

	.product-price {
		@apply hidden;
		del {
			@apply order-2 pl-2;
		}
	}

	/* QUANTITY */
	.product-quantity {
		@apply border-0 py-0 md:py-6;
	}

	.product-subtotal {
		@apply border-0 pt-3 text-2xl font-bold md:pt-6 md:pl-9 md:text-right;
	}

	td {
		&:before {
			@apply hidden;
		}
	}
}

.cart-empty {
	@apply mb-6;
}
