/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Variables */
@import "variables.css";

/* Base */
/* @import "base/_base.css"; */

/* Layouts */
/* @import "layouts/_layouts.css"; */

/* WooCommerce */
/* @import "./components/woocommerce/_woocommerce.css"; */

/* FacetWP */
/* @import "components/facetwp/_facetwp.css"; */

/* Components */
@import "components/_components.css";
/* @import "components/wp-blocks/_wp-blocks.css"; */

/* Premmerce */
/* @import "components/premmerce/_premmerce.css"; */

/* Filter Everything */
/* @import "components/filter-everything/_filter-everything.css"; */

/* Utilities */
/* @import "utilities/_utilities.css"; */



/* Woocommerce checkout */

.shipping_address {
    @apply !block !h-auto !overflow-auto;
}


#ship-to-different-address {
    @apply pointer-events-none;
}

#ship-to-different-address-checkbox {
    @apply hidden;
}

.woocommerce-account-fields,
.woocommerce-shipping-fields,
.woocommerce-billing-fields,
.woocommerce-payments {

    @apply mb-6;
    > h3,
    > h3 span {
        @apply text-xl font-bold mb-6
    }
}

label {
    .optional {
        @apply text-green-500;
    }

    .required {
        @apply text-red-500;
    }
}



.woocommerce-form-coupon-toggle {
    @apply mb-6
}


.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {

  @apply grid grid-cols-12 gap-x-4 gap-y-6 mb-6;

  > * {
    @apply col-span-full;
  }

}

#billing_invoice_field,
.woocommerce-additional-fields {
    @apply mb-6
}


#shipping_first_name_field,
#billing_first_name_field,
#shipping_last_name_field,
#billing_last_name_field {
    @apply col-span-6;
}

#shipping_postcode_field,
#billing_postcode_field,
#shipping_city_field,
#billing_city_field,
#shipping_state_field,
#billing_state_field {
    @apply col-span-4;
}

/* Errori */

.woocommerce-error {
    @apply bg-red-500 p-6 mb-6;
}
/* .is-billing-request { */
body:not(.is-billing-request) {
    .woocommerce-error {
        [data-id^="billing_"] {
            @apply border border-red-400;
        }
    }
}


/* Validazioni js client */

/* .woocommerce-invalid input {
    @apply border border-red-500
}

.woocommerce-validated input {
    @apply border border-green-500
}

.woocommerce-invalid-required-field input {
    @apply border border-orange-500
} */

.validate-required.woocommerce-invalid {
	@apply relative;
	label {
		@apply !text-red-500;
	}
	.woocommerce-input-wrapper {
		input, .select2 {
			@apply text-red-500 border border-red-500 !important;
		}
		&:after {
			content: '!';
			@apply animate-pulse font-bold absolute right-3 bg-red-500 text-white rounded-full text-center text-xs h-7 w-7 border border-red-500 flex items-center justify-center;
		}
	}
}


.validate-required.woocommerce-validated {
	@apply relative;
	.woocommerce-input-wrapper {
		&:after {
			content: '✓';
			@apply font-bold absolute right-3 bg-quinary text-green-500 rounded-full text-center text-xs h-7 w-7 border border-green-500 flex items-center justify-center;
		}
	}
}

/* Pagamenti */

.wc_payment_methods {
    @apply rounded-md mb-6 border overflow-hidden;

    li {
        @apply relative
    }
    input {
        @apply absolute top-3 left-2
    }

    label {
        @apply pl-9 pr-2 py-4 border;
    }

    input[type="radio"]:checked + label {
        @apply bg-gray-200 border-black;
    }

    .payment_box {
        @apply px-4 py-2 border-x;
    }
}





/* Privacy */
.woocommerce-privacy-policy-text {
    @apply mb-6 text-sm text-gray-500;
}




/* Order review */
.woocommerce-checkout-review-order-table {
@apply w-full;

	td {
		@apply text-right;
	}

	thead {
		@apply hidden;
	}
	tbody {
		@apply relative !p-12;

		.cart_item {
			@apply relative border-0 border-b border-septenary !p-6 !hidden;
			padding-left: 40px !important;
			.product-name {
				@apply relative text-sm pr-3 lg:pl-20 lg:pr-0 text-left;
				max-width: 120px;

				@screen md {
					@apply max-w-full;
				}

				.product-thumbnail {
					@apply mb-3 lg:absolute lg:top-2/4 lg:left-0 h-16 w-16 lg:-mt-8 lg:mb-0;

					img {
						@apply relative h-16 w-16 object-cover;
					}
				}

				.product-quantity {
					* {
						@apply font-normal;
					}
				}
			}

			.product-total {
				@apply font-normal;
			}
		}
	}

	tfoot {
		tr {
			@apply border-b border-septenary;
		}

		.cart-subtotal {
			@apply font-normal;
		}

		.order-total {
			.amount {
				@apply block text-xl lg:text-4xl;
			}
		}
	}
}
