.ground-block-wrapper {
	@apply container;

	&.is-fullscreen {
		@apply max-w-none;
	}

	&.is-full-bleed {
		@apply p-0;
	}

	&.is-boxed {
		@apply boxed;
	}

	& > .aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	& > .alignright {
		float: right;
		margin-left: 2rem;
	}

	& > .alignleft {
		float: left;
		margin-right: 2rem;
	}
}
