.navigation {
}

.navigation__link {
	text-decoration: none;

	&:hover,
	&.is-active,
	.is-parent & {
		@apply text-primary;
	}
}

.navigation--footer {
	.navigation__list {
		@apply ml-0;
	}
	.navigation__link {
		@apply text-typo-secondary;
		&:hover,
		&.is-active,
		.is-parent & {
			@apply text-primary;
		}
	}
}

.navigation--account {
	@apply block mb-12 lg:mt-6;

	.navigation__list {
		@apply px-6 space-x-1 scroll-snap-x-mandatory overflow-y-hidden overflow-x-auto whitespace-nowrap lg:space-x-0;
		@apply transform -translate-x-2/4 w-screen ml-1/2 lg:ml-0 lg:translate-x-0 lg:w-auto lg:px-0;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			@apply hidden;
		}
	}

	.navigation__item {
		@apply relative items-center overflow-hidden m-0 inline-block whitespace-normal scroll-snap-align-center lg:block;
		&.is-active {
			@apply bg-primary rounded-full text-typo-secondary lg:rounded-none lg:bg-transparent;
		}
		a {
			@apply border border-line-primary text-typo-primary no-underline px-3 py-1 rounded-full align-middle flex items-center lg:p-0 lg:border-0 lg:mb-2;
		}
		&.is-active a {
			@apply border-primary text-white lg:text-primary;
		}
	}
}

.navigation--blog {
	@apply m-0 px-6 space-x-3 block lg:px-0 lg:flex lg:items-center text-typo-primary;
	@apply scroll-snap-x-mandatory overflow-y-hidden overflow-x-auto whitespace-nowrap;
	@apply transform -translate-x-2/4 w-screen ml-1/2 lg:ml-0 lg:translate-x-0 lg:w-auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		@apply hidden;
	}

	li {
		@apply relative items-center overflow-hidden m-0 inline-block whitespace-normal scroll-snap-align-center;
		&.current-cat {
			@apply bg-primary rounded-full text-white;

			.blog & {
				@apply bg-transparent;
			}
		}
		a {
			@apply border border-line-primary text-typo-primary no-underline px-3 py-1 rounded-full align-middle flex items-center;
		}
		&.current-cat a {
			@apply border-primary text-white;

			.blog & {
				@apply border-primary text-typo-primary;
			}
		}
	}
}
