@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwindcss-debug-screens";

@theme {
  --font-primary: var(--font-sans);
  --color-primary: #6366f1;
  --color-secondary: #e2001a;
}

@utility container {
  @apply mx-auto px-8;
}